*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --fs-tittle: 3.2rem;
    --fs-M-text: 1.8rem;
    --fs-S-text: 1.6rem;
    
    --color-BG: #040924;
    --color-tittle: #0C3440;
    --color-blue: #02799D;
    --color-label: #00453A;
    --color-input: #DCE2E9;
    --color-error: #F03E3E;
}

body{
    background-color: var(--color-BG);
    font-family: 'Roboto', sans-serif;
}

.open{
    visibility: visible !important;
}

#page{
    display: grid;
    place-items: center;
    height: 100vh;
}

#screen{
    background-color: #fff;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.10);
    padding: 4.8rem 6.4rem 6.4rem;
    border-radius: .6rem;
    
    display: flex;
    flex-direction: column;
}

#screen h1{
    font-size: var(--fs-tittle);
    color: var(--color-tittle);
    margin-bottom: 3.2rem;
}

#screen form{
    display: flex;
    flex-direction: column;
}

#screen label{
    font-size: var(--fs-S-text);
    font-weight: 400;
    color: var(--color-label);
    margin-bottom: .8rem;
}

#screen input{
    width: 26.8rem;
    padding: 1.6rem;
    border: none;
    outline: 2px solid rgba(73, 80, 87, 0.30);
    border-radius: .4rem;
    background-color: var(--color-input);

    font-size: var(--fs-M-text);
    font-weight: 400;
    color: #212529;
    margin-bottom: 1.6rem;
}

#screen input:focus{
    outline: 2px solid var(--color-blue);
}

button{
    padding: 1.6rem;
    border: none;
    border-radius: .4rem;
    background-color: var(--color-blue);

    font-size: var(--fs-M-text);
    font-weight: 700;
    color: #fff;
    margin-top: 1.6rem;
    transition: all 0.2s ease;
    cursor: pointer;
}

button:hover{
    background-color: #07546b;
}

#modal-container{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.70);
    inset: 0;

    display: grid;
    place-items: center;

    visibility: hidden;
}

#modal-card{
    position: relative;

    background-color: #fff;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.10);
    padding: 4.8rem 6.4rem 6.4rem;
    border-radius: .6rem;
}

.animationModal{
    animation: modal 0.6s backwards ease;
}

@keyframes modal{
    0%{transform: scale(0.3, 0.3);}
    100%{transform: scale(1, 1)}
}

#modal-card i{
    position: absolute;
    top: 2.1rem;
    right: 2.1rem;
    color: rgba(12, 52, 64, 0.60);
    font-size: 1.5rem;
    cursor: pointer;
}

#modal-card h2{
    font-size: var(--fs-tittle);
    color: var(--color-tittle);
}

p{
    margin-top: 1.5rem;
    font-size: var(--fs-S-text);
    color: var(--color-tittle);
}

#error{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.6rem;
    background-color: var(--color-error);
    position: absolute;
    top: 0;
    left: 0;

    visibility: hidden;
}

#error h2{
    font-size: var(--fs-S-text);
    font-weight: 700;
    color: #fff;
}

.animationError{
    animation: errorOpen 0.6s backwards ease;
}

@keyframes errorOpen{
    0%{transform: translateY(-5rem);}
    100%{transform: translateY(0)}
}