*{
    margin: 0;
}

:root{
    /* Font-Family */
    --ff-tittle: 'Staatliches', cursive;
    --ff-text: 'Roboto', sans-serif;

    
    /* Font-Size */
    font-size: 62.5%;
    --fs-tittle: 4.8rem;
    --fs-subtittle: 2rem;
    --fs-text: 1.6rem;
    
    /* Colors */
    --hue: 250;
    --color-BG: hsl(233, 100%, 97%);
    --color-Pri:hsl(218, 17%, 62%);
    --color-Sec:hsl(275, 18%, 79%);
    --color-Ter:hsl(312, 91%, 96%);
    
    --color-subtittle:hsl(232, 17%, 35%);
    --color-text:hsl(274, 84%, 12%);
}

body{
    background-color: white;
}

#page{
    max-width: 117rem;
    display: flex;
    gap: 9rem;
}

header{
    background-color: var(--color-Pri);
    min-width: 37.7rem;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

#logo-container{
    position: relative;
    margin: 3.2rem auto;
    width: 21.5rem;
    height: 16.4rem;
    
    animation: LogoAparece 1150ms 200ms backwards ease;
}

@keyframes LogoAparece{
    0%{
        opacity: 0;
        transform: translateY(-5.5rem);
    }
}

#logo-container img:nth-child(1){
    max-width: 21.4rem;

    position: absolute;
    top: 0;
    left: 2rem;

    animation: SomeIcon1 850ms 1200ms forwards ease;
}

@keyframes SomeIcon1 {
    0%{
        opacity: 1;
        transform: scaleX(-1);
    }
    100%{
        opacity: 0;
    }   
}

#logo-container img:nth-child(2){
    max-width: 21.4rem;
    
    position: absolute;
    top: 0;
    left: -0.5rem;

    animation: ApareceIcon2 850ms 1190ms both ease;
}

@keyframes ApareceIcon2 {
    0%{
        opacity: 0;
        transform: scaleX(-1);
    }
}

header h1{
    font-family: var(--ff-tittle);
    font-size: var(--fs-tittle);
    color: white;
    text-align: center;
    line-height: 3rem;
    font-weight: 400;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    background-color: var(--color-Sec);
    padding: 2rem 0;
    margin-bottom: 3.2rem;

    animation: TittleAparece 500ms 750ms backwards ease;
}

@keyframes TittleAparece {
    0%{
        opacity: 0;
        font-size: 0;
    }
}

header p{
    font-family: var(--ff-text);
    font-size: var(--fs-text);
    color: white;
    width: 27.5rem;
    font-weight: 400;
    text-align: center;

    margin: 0 auto 12.5rem;

    animation: Text 750ms 1100ms backwards ease;
}

@keyframes Text {
    0%{
        opacity: 0;
        transform: translateY(5.5rem);
    }
}

main{
    max-width: 72.5rem;
    margin-top: 6.4rem;
}

.imgs-container{
    display: grid;
    grid-template-areas: 
    "img1 img2 img3";
    gap: 3.2rem;
    margin: 0 auto;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.imgs-container div:nth-child(1){
    grid-area: img1;
    animation: conjuntoimg1 800ms 700ms backwards ease;
}   
    @keyframes conjuntoimg1{
        0%{
            opacity: 0;
            transform: translateX(4rem);
        }
    }

    .imgs-container div:nth-child(1) img:nth-child(1){
        max-width: 22rem;
        max-height: 15rem;
        object-fit: cover;
        border-radius: 2rem;
    }

    .imgs-container div:nth-child(1) img:nth-child(2){
        max-width: 22rem;
        max-height: 35rem;
        object-fit: cover;
        border-radius: 2rem;
    }

.imgs-container div:nth-child(2){
    grid-area: img2;
    animation: conjuntoimg2 800ms 1000ms backwards ease;
}

    @keyframes conjuntoimg2{
        0%{
            opacity: 0;
            transform: translateX(4rem);
        }
    }

    .imgs-container div:nth-child(2) img:nth-child(1){
        max-width: 22rem;
        max-height: 35rem;
        object-fit: cover;
        border-radius: 2rem;
    }

    .imgs-container div:nth-child(2) img:nth-child(2){
        max-width: 22rem;
        max-height: 15rem;
        object-fit: cover;
        border-radius: 2rem;
    }

.imgs-container div:nth-child(3){
    grid-area: img3;
    animation: conjuntoimg3 800ms 1300ms backwards ease;
}

    @keyframes conjuntoimg3{
        0%{
            opacity: 0;
            transform: translateX(4rem);
        }
    }

    .imgs-container div:nth-child(3) img:nth-child(1){
        max-width: 22rem;
        max-height: 15rem;
        object-fit: cover;
        border-radius: 2rem;
    }

    .imgs-container div:nth-child(3) img:nth-child(2){
        max-width: 22rem;
        max-height: 35rem;
        object-fit: cover;
        border-radius: 2rem;
    }

main p{
    font-family: var(--ff-text);
    font-size: var(--fs-text);
    color: var(--color-subtittle);
    text-align: center;
    margin-top: 8rem;
    
    animation: Text 750ms 1650ms backwards ease;
}

main a{
    text-decoration: none;
    color: var(--color-subtittle);
    font-weight: bolder;
}