*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    display: flex;
    background-color: #ECE9FD;
    color: #090039;
    font-family: 'Epilogue', sans-serif;
}

#container-1{
    margin: 8rem 11.5rem 0 13.5rem;
}

h5{
    color: #7158EF;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

h1{
    font-weight: 800;
    font-size: 4rem;
    width: 484px;
    margin-bottom: 3.2rem;
}

p{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    width: 48.4rem;
    color: rgba(10, 0, 57, 0.64);
    margin-bottom: 3.2rem;
}

a{
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 15rem;
}

li{
    display: flex;
    gap: 6.4rem;
    align-items: center;

    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 3.5rem;
}

li span{
    font-style: normal;
    font-weight: 800;
    font-size: 7.2rem;
    width: 4.6rem;
}